body {
  background: linear-gradient(
    90deg,
    rgba(235, 251, 229, 1.000) 0.000%,
    rgba(164, 184, 163, 1.000) 25.000%,
    rgba(126, 166, 141, 1.000) 50.000%,
    rgba(147, 211, 182, 1.000) 75.000%,
    rgba(212, 255, 250, 1.000) 100.000%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}