#screen {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(35, 43, 40);
}

#scan, 
#grid {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

#scan {
    opacity: 45%;
    z-index: 1;
}

#grid {
    opacity: 10%;
    filter: blur(2px);
}

#content, #topnav, #welcome, #planet {
    font-family: 'VT32', monospace;
    color: rgb(100, 234, 183);
    text-shadow: 1px 1px 2px rgb(100, 234, 183), 0 0 1em rgb(100, 234, 183), 0 0 0.2em rgb(100, 234, 183);
}

#topnav {
    position: absolute;
    border: 2px double rgb(100, 234, 183);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    width: 97%;
    background-color: rgb(35, 43, 40);
}

#topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#topnav ul li {
    display: block;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

#topnav ul li a {
    color: rgb(100, 234, 183);
    text-decoration: none;
}

#topnav ul li {
    transition: transform 0.15s ease, text-shadow 0.15s ease;
}

#topnav ul li:hover {
    transform: scale(1.15);
    text-shadow: 1px 1px 2px rgb(100, 234, 183), 0 0 1em rgb(100, 234, 183), 0 0 0.2em rgb(100, 234, 183);
}

#welcome {
    position: absolute;
    height: 65%;
    width: 42%;
    padding: 80px;
    border: 2px groove rgb(100, 234, 183);
    border-radius: 5px;
    margin-top: 11vh;
    margin-left: 1vw;
    background-color: rgb(35, 43, 40);
}

#planet {
    position: absolute;
    bottom: 7px;
    right: 40px;
    width: 42%;
    height: 37%;
    opacity: 100%;
    font-size: 5px;
    line-height: 1.1;
    white-space: pre;
    border: 2px groove rgb(100, 234, 183);
    border-radius: 5px;
    background-color: rgb(35, 43, 40);
}

#planet pre {
    margin-left: 200px;
}

#photo_window {
    border: 2px groove rgb(100, 234, 183);
    border-radius: 5px;
    position: absolute;
    top: 80px;
    right: 40px;
    width: 42%;
    height: 50%;
    background-color: rgb(35, 43, 40);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}