#screen {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(20, 21, 21);
}

#scan, 
#bezel{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

#scan {
    opacity: 40%;
}

#bezel {
    opacity: 0%;
}

#content{
    font-family: 'VT32', monospace;
    color: rgb(121, 219, 213);
    text-shadow: 1px 1px 2px rgb(149, 197, 185), 0 0 1em rgb(149, 197, 185), 0 0 0.2em rgb(149, 197, 185);
}

#title {
    position: absolute;
    top: 10px;
    width: 50%;
    text-align: center;
    transform: translateX(50%);
    margin: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}